# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\nadav ashkenazi\OneDrive - Technion\Technion\semester_1\מבוא למדמ''ח ח'\HW - CS\hw3\Mancala\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
